@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@theme {
  --color-primary: #3a7ca5;
  --color-secondary: #89c2d9;
  --color-accent: #1e2a47;

  --color-background: #f4f6f8;

  --color-text-primary: #2c2c2c;
  --color-text-secondary: #4b5563;
  --color-text-accent: #f4f6f8;
  --color-danger: rgb(140, 0, 0);

  --font-header: "Poppins", sans-serif;
  --font-content: "Montserrat", sans-serif;
  --font-alt: "Lato", sans-serif;
}
